@imagePath : "../img";
@principalFont : 'Source Sans Pro', sans-serif;

.rounded-corners (@radiustl: 3px,@radiustr: 3px,@radiusbr: 3px,@radiusbl: 3px){
	border-radius: @radiustl @radiustr @radiusbr @radiusbl;
}

.shadow {
	-moz-text-shadow: 3px 3px 2px #333;
	-webkit-text-shadow: 3px 3px 2px #333;
	text-shadow: 3px 3px 2px #333;
	/* For IE 8 */
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#333333')";
	/* For IE 5.5 - 7 */
	filter:~"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#333333')";
}

.moreOrange{
	background:url('@{imagePath}/botonBlueBig.png');
	color:rgba(255,255,255,1);
	font-size: 1.2em;
	text-align: center;
	text-decoration:none;
	font-weight: lighter;
	.left;
	margin: 10px 0 0 134px;
    padding: 14px 26px;
	text-shadow: 1px 1px 1px #000000;
    filter:~"dropshadow(color=#000000, offx=1, offy=1)";
	
}

.destacado{
	color:#FFB200;
}

.left{
	display:inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}

.border{
	border:1px solid #fff;
}

a.btn, input[type="submit"].btn, input[type="button"].btn{
	background:url('@{imagePath}/botonOrange.png');
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	padding:5px 12px;
	margin: 5px;
	.left;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000000;
    filter:~"dropshadow(color=#000000, offx=1, offy=1)";
    .rounded-corners();
    &:hover{
    	box-shadow: 0px 0px 5px 1px #999;
    }
}

.popoverNav{
					display:block;
					position: absolute;
					z-index: 9999;
					left: 90%;
					top: 68px;
					padding:10px 15px;
					background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
					filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#e6000000',GradientType=0 )"; /* IE6-9 */
					border-top:1px solid #000000;
					border-bottom:1px solid #000000;
					border-right:1px solid #000000;
					color:rgba(255,255,255,1);
					width: 290px;
					.action{
						width:53px;
						height: 48px;
						position: absolute;
						top:-1px;
						right: 0px;
						text-align:center;
						background: url('@{imagePath}/backgroundLikePopover.png') no-repeat;
						.smallLike{
							margin-top:8px;
							margin-left:17px;
						}
					}
				}

a.btnBlue, input[type="submit"].btn, input[type="button"].btn{
	background:url('@{imagePath}/botonBlue.png');
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	padding:5px 12px;
	margin: 5px;
	.left;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000000;
    filter:~"dropshadow(color=#000000, offx=1, offy=1)";
    .rounded-corners();
    &:hover{
    	box-shadow: 0px 0px 5px 1px #666;
    }
}

.like{
	background: url('@{imagePath}/likebig.png') no-repeat;
	width: 28px;
	height: 28px;
	display: inline-block;
 	vertical-align: text-top;
 	cursor:pointer;
 	&.dont{
 		background-position: 0 -27px;
 		&:hover{
 			background-position: 0 0px;
 		}
 	}
}

.smallLike{
	background: url('@{imagePath}/likesmall.png') no-repeat;
	width: 19px;
	height: 19px;
	display: inline-block;
 	vertical-align: text-top;
 	cursor:pointer;
 	&.dont{
 		background-position: 0 -18px;
 		&:hover{
 			background-position: 0 0px;
 		}
 	}	
}

					
body{
	font-size:16px;
	font-family:@principalFont;
	background-color:#262A2D;
	a{
		transition:all 0.3s linear;
		color:#0092D0;
	}
	/* Headr principal */
	header{
		position: relative;
		top: 0px;
		border-top:1px solid #000000;
		border-bottom: 1px solid #0092D0;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter:~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 )"; /* IE6-8 */
		nav{
			margin:0 auto;
			width: 90%;
			padding-top:0px;
			ul{
				padding:0px;
				margin:0px;
				list-style: none;
				text-transform: uppercase;
				.left;
				li{
					.left;
					font-size:0.9em;
					hr{
					display:none;
					padding: 0px;
					margin:0px;}

					a{
						padding: 20px;
						display: inline-block;
						color: rgba(255,255,255,1);
						text-decoration: none;
						text-shadow: 1px 1px 1px #000000;
					    filter: dropshadow(color=#000000, offx=1, offy=1);					
					}
					&.select{
						/* IE9 SVG, needs conditional override of 'filter' to 'none' */
						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
						background: -moz-linear-gradient(top,  rgba(255,255,255,0.09) 0%, rgba(255,255,255,0.09) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.09)), color-stop(100%,rgba(255,255,255,0.09))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0.09) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0.09) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0.09) 100%); /* IE10+ */
						background: linear-gradient(to bottom,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0.09) 100%); /* W3C */
						filter:~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ffffff', endColorstr='#17ffffff',GradientType=0 )"; /* IE6-8 */
						/*border-left:1px solid #2B3033;
						border-right:1px solid #2B3033;*/
						a{
							border-left:1px solid #000000;
							border-right:1px solid #000000;
							/*border-bottom:5px solid #0092D0;*/
							padding-bottom:19px;
						}
						hr{
						display:block;
						border-color:#0092D0;    
		    		   	box-shadow:  0px 0px 5px 1px #0092dD;
		    		   	margin-bottom:-1px;
						}
					}
				}
			}
			form{
				display: inline-block;
				margin-top:5px;
				position: absolute;
				top:10px;
				right: 5%;
				input[type="text"]{
					font-size:0.9em;
					background:url('@{imagePath}/backSearch.png') no-repeat 5px rgba(0,0,0,0.0);
					border:none;
					border-bottom-color:#444444 1px solid;
					.rounded-corners();
					padding:8px 8px 8px 50px;
					width: 240px;
					color:#AAAAAA;
					transition: all 0.3s linear;

					&:-moz-placeholder{  
					   	font-weight:lighter;
						font-style: italic;	   
						color:#AAAAAA;	
						text-shadow: 1px 1px 1px #000000;
					    filter: dropshadow(color=#000000, offx=1, offy=1);	
					}

					&:focus{
						background-color:rgba(0,0,0,0.0);
						width: 270px;
						color:#666;
					}
				}
			}
		}
		&.fixed{
			position: fixed;
			top:0px;
			left:0px;
			width:100%;
			z-index: 99999;
			background:transparent;
		  	filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)"; 
		 	zoom: 1;
		  	background: rgba(0,0,0,0.8);
		}
	}
	/* Fin header */

	section.container{
		width: 100%;
		section.content{
			width:90%;
			margin: 0 auto;
			max-width:1200px;
			height: auto;
			min-height: 640px;
			display: block;
			min-width: 960px;
			&.promocionalContent{
				h3{
					margin:0px;
					padding:0px;
					font-weight:lighter;
					color:rgba(255,255,255,1);
				}
				ul{
					list-style:none;
					padding:0px;
					margin:0px;
					li{
						.left;
					}
				}
			}
		}
		

		&.estrenos{
			background:url('@{imagePath}/bg-01.jpg') 50% 0 fixed no-repeat #fb8b00;
			color:rgba(255,255,255,1);
			padding-top:40px;
			.info{
				width:40%;
				.left;
				margin: 85px 0 0 -35px;
				h3{
					margin-top:20px;
					font-size: 3.8em;
					.left;
					}
					a{	
					.moreOrange;	
					}
				
				p{
					font-size: 2.3em;
					font-weight: lighter;
					margin: 25px 0 0 0;
				}
				.desde{
					font-size: 2em;
					font-weight: lighter;
					.left;
					margin: 15px 0 0 0px;
				}
				strong{
					font-size: 3.5em;
					font-weight: lighter;
					.left; 
					margin: 50px 0 0 10px;

				}
				.cada{
					
					.left;
				    font-size: 1.4em;
				    font-weight: lighter;
				    margin: 105px 0 0 -50px;
				    
				}
			}
			
			.estrenosCaratulas{
				display: inline-block;
			    list-style: none outside none;
			    margin: 0;
			    padding: 0;
			    vertical-align: top;
			    width: 59%;
			    position: relative;
				li{
					float:left;
					figure{
						width: 100%;
						float:left;
						img{
							width: 100%;
						}
					}
					&:first-child{
						left: 0;
					    position: absolute;
					    top: 15px;
					    width: 30%;
					}
					&:first-child + li{
						left: 31%;
					    position: absolute;
					    top: 0;
					    width: 25%;
					}
					&:first-child + li + li{
						left:59%;
					    position: absolute;
					    top: 15px;
					    width: 30%;
					}
					&:first-child + li + li + li{
						left: 3%;
					    position: absolute;
					    top:290px;
					    width: 30%;
					}
					&:first-child + li + li + li + li{
						left: 34%;
					    position: absolute;
					    top: 230px;
					    width: 24%;
					}
					&:first-child + li + li + li + li + li{
						left: 59%;
					    position: absolute;
					    top: 290px;
					    width: 24%;
					}
					&:first-child + li + li + li + li + li + li{
						left: 34%;
					    position: absolute;
					    top: 450px;
					    width: 16%;
					}
					&:first-child + li + li + li + li + li + li + li{
						left: 84%;
					    position: absolute;
					    top: 450px;
					    width: 16%;
					}

				}
			}
		}
		&.kids{
			background:url('@{imagePath}/bg-02.jpg') 50% 0 fixed no-repeat #2993a2;
			color:rgba(255,255,255,1);
			padding-top:40px;
			position: relative;
			.infoDos{
				width:40%;
				.left;
				margin: 130px 10px 0 0px;
				h3{
					margin-top:20px;
					font-size: 2.8em;
					width: 60%;
					.left;
					font-weight: 600;
					}
					img{
						width: 85%;
					}
					a{	
						background:url('@{imagePath}/botonBlue.png');
						.left;
						color: #FFFFFF;
					    font-size: 1em;
					    font-weight: lighter;
					    margin: 10px 0 0 14px;
					    padding: 4px 15px;
					    .rounded-corners;
					    text-align: center;
					    text-decoration: none;
					    text-shadow: 1px 1px 1px #000000;
					    &:hover{
				    	box-shadow: 0px 0px 5px 1px #666;
				    	}
					}
				
				p{
					font-size: 2.3em;
					font-weight: lighter;
					margin: 10px 0 0 0;
				}
				.desde{
					font-size: 2em;
					font-weight: lighter;
					.left;
					margin: 25px 0 0 35px;
				}
				strong{
					font-size: 3.5em;
					font-weight: lighter;
					.left; 
					margin: 50px 0 0 10px;

				}
				.cada{
					
					.left;
				    font-size: 1.4em;
				    font-weight: lighter;
				    margin: 105px 0 0 -50px;
				    
				}
			}

			.botoneraKids{
				width: 20%;
				position: relative;
				.boton{
					border:none;
					background: url('@{imagePath}/botonOrange.png');
					.rounded-corners;
					color: #fff;
					font-size: 1.3em;
				    height: 53px;
				    margin: 5px 0 0 142px;
				    width: 100%;
				}
				.figuraBoton{
					position:absolute;
					left: 0;
					top: -99%;
					margin:0 0 0 0;
					.left;
					img{
						width: 70%;
					}


				}
			}
			.monos{
					bottom: 6%;
					position: absolute;
					right: 10%;
					img{
					   	width: 85%;
					    }
				}

			.trenitaDias{
				position: absolute;
				top: 0;
				left: 0;
			}
			
			.kidsCaratulas{
				display: inline-block;
			    list-style: none outside none;
			    margin: 0;
			    padding: 0;
			    vertical-align: top;
			    width: 57%;
			    position: relative;
			    left:5%;
				li{
					float:left;
					figure{
						width: 100%;
						float:left;
						img{
							width: 100%;
							.border;
						}
					}
					&:first-child{
						left: 0;
					    position: absolute;
					    top: 0px;
					    width: 20%;
					}
					&:first-child + li{
						left: 21%;
					    position: absolute;
					    top: 15px;
					    width: 20%;
					}
					&:first-child + li + li{
						left:42%;
					    position: absolute;
					    top: 30px;
					    width: 20%;
					}
					&:first-child + li + li + li{
						left: 63%;
					    position: absolute;
					    top:80px;
					    width: 17%;
					}
					&:first-child + li + li + li + li{
						left: 10%;
					    position: absolute;
					    top: 201px;
					    width: 22%;
					}
					&:first-child + li + li + li + li + li{
						left: 33%;
					    position: absolute;
					    top: 216px;
					    width: 20%;
					}
					&:first-child + li + li + li + li + li + li{
						left: 54%;
					    position: absolute;
					    top: 239px;
					    width: 22%;
					}
					&:first-child + li + li + li + li + li + li + li{
						left: -8%;
					    position: absolute;
					    top: 460px;
					    width: 17%;
					}

					&:first-child + li + li + li + li + li + li + li + li{
						left: 10%;
					    position: absolute;
					    top: 405px;
					    width: 20%;
					}

					&:first-child + li + li + li + li + li + li + li + li + li{
						left: 31%;
					    position: absolute;
					    top: 405px;
					    width: 22%;
					}
				}

			}
			
			
		}




		&.club{
			background:url('@{imagePath}/bg-03.jpg') 50% 0 fixed no-repeat #292D30;
			color:rgba(255,255,255,1);
			padding-top:40px;
			position: relative;
			.info{
				width:40%;
				font-weight: lighter;
				.left;
				margin: 150px 0 0 0;
				h3{
					margin-top:20px;
					font-size: 2.8em;
					font-weight: lighter;
					.left;
					}
					img{
						width: 85%;
					}
					a{	
					background:url('@{imagePath}/botonBlue.png');
					cursor: pointer;
				    color:rgba(255,255,255,1);
					font-size: 1em;
					text-align: center;
					text-decoration:none;
					font-weight: lighter;
					.left;
					margin: 30px 0 0 20px;
				    padding: 4px 23px;
					text-shadow: 1px 1px 1px #000000;
				    filter:~"dropshadow(color=#000000, offx=1, offy=1)";	
					}
				
				p{
					font-size: 2.3em;
					font-weight: lighter;
					margin: 0px;
				}
				.desde{
					font-size: 2em;
					font-weight: lighter;
					.left;
					margin:5px 0;
				}
				strong{
					font-size: 3.5em;
					font-weight: lighter;
					.left; 
					margin: 50px 0 0 10px;

				}
				.cada{
					
					.left;
				    font-size: 1.4em;
				    font-weight: lighter;
				    margin: 105px 0 0 -50px;
				}
				.boton{
					border:none;
					background: url('@{imagePath}/botonOrange.png');
					.rounded-corners;
					color: #fff;
					font-size: 1.3em;
				    height: 53px;
				    margin: 5px 0 0 95px;
    				width: 49%;
				}
			
			}
			.treintaDiasRight{
				position: absolute;
				top: -1px;
				right: 0;
				}

			.clubCaratulas{
				display: inline-block;
			    list-style: none outside none;
			    margin: 0;
			    padding: 0;
			    vertical-align: top;
			    width: 59%;
			    left: 6%;
			    position: relative;
				li{
					float:left;
					figure{
						width: 100%;
						float:left;
						img{
							width: 100%;
							.border;
						}
					}
					&:first-child{
						left: -14px;
					    position: absolute;
					    top: -2px;
					    width: 19%;
					}
					&:first-child + li{
						left: 18%;
					    position: absolute;
					    top: 30px;
					    width: 28.4%;
					}
					&:first-child + li + li{
						left: 47.2%;
					    position: absolute;
					    top: 106px;
					    width: 20%;
					}
					&:first-child + li + li + li{
						left: 68.1%;
					    position: absolute;
					    top:10px;
					    width: 15%;
					}
					&:first-child + li + li + li + li{
						left: 2%;
						position: absolute;
						top: 175px;
						width: 15%;
					}
					&:first-child + li + li + li + li + li{
						left: -9%;
					    position: absolute;
					    top: 315px;
					    width: 28%;
					}
					&:first-child + li + li + li + li + li + li{
						left: 20%;
					    position: absolute;
					    top: 290px;
					    width: 20%;
					}
					&:first-child + li + li + li + li + li + li + li{
						left: 41%;
					    position: absolute;
					    top: 290px;
					    width: 15%;
					}
					&:first-child + li + li + li + li + li + li + li + li{
						left: 41%;
					    position: absolute;
					    top: 430px;
					    width: 15%;
					}
					&:first-child + li + li + li + li + li + li + li + li + li{
						left: 57%;
					    position: absolute;
					    top: 290px;
					    width: 20%;
					}

				}
			}
		}
		&.inter{
			background-color: rgba(0,0,0,1);
			height: 1px;
			background-image:none; 
		}
		&.vtr{
			background:#262A2D;
			position: absolute;
			.boxBorder{
				border-bottom:1px solid #0092D0;
				padding: 10px 0; 
				margin: 20px 0;
			}
			h3{
				.left;
				color: #FFFFFF;
			    font-size: 2.8em;
			    font-weight: lighter;
			    margin: 20px 0 0;
			    padding: 30px 0 0;
			    width: 60%;
				span{
					color: #0092D0;
				    font-size: 0.4em !important;
				    font-weight: lighter;
				    cursor: pointer;
				    text-decoration:none !important;
				    &:hover{
				    	text-decoration: underline;
				    	transition: all 0.3s linear;

				    }
				}
			}

			.tabsCanales{
				position: relative;
				margin: 0 auto;
				padding: 0;
				width: 24%;
				.left;
				left: 165px;
				top:86px;
				li{
					width:32.3%;
					margin:0;
					.left;
					text-align: center;
					hr{
					display:none;
					margin:0px;}

					a{
						padding: 5px;
						display: inline-block;
						color: rgba(255,255,255,1);
						text-decoration: none;
						text-shadow: 1px 1px 1px #000000;
					    filter: dropshadow(color=#000000, offx=1, offy=1);					
					}
				}
				.select{
						hr{
						display:block;
						border-color:#0092D0;    
		    		   	box-shadow:  0px 0px 5px 1px #0092dD;
		    		   	margin-bottom:-1px;
						}
						a{
							
							/*border-bottom:5px solid #0092D0;*/
							padding-bottom:5px;
						}
					}
			}
			.sectionGuia{
				article{
					position:relative;
					.left;
					width: 24%;
					height:195px;
					margin-bottom:5px;
					overflow:hidden;
					figure{
						width: 100%;
						height: 100%;
						img{
							width: 100%;
							height: 100%;
						}
					}
					.timeInfo{
						position: absolute;
						bottom:5px;
						left:5px;
						z-index:999;
						color:#ffffff;
						text-shadow: 1px 1px 1px #000000;
						font-size:1.2em;
					    filter: dropshadow(color=#000000, offx=1, offy=1);	
						small{
							width:100%;
							display: block;
						}
					}
					.channelInfo{
						position: absolute;
						top:5px;
						right:5px;
						z-index:999;
						text-align: right;
						background-color:rgba(242,87,163,0.9);
						padding:5px;
						color:#ffffff;
						font-size:1em;
						small{
							width:100%;
							display:block;
						}
					}
					&:first-child{
						float:left;
						width:50%;
						height: 395px;
						margin-right: 5px;
						.timeInfo{
							font-size:1.6em;
						}
						.channelInfo{
							font-size:1.3em;
						}
					}
				}
			}
			.canales{
				font-style: none;
				padding:0px;
				margin:0pc;
				li{
					.left;
					width:13.9%;
					margin-left: 1.1%;    
					margin-right: 1.2%;
					height: 155px;
					margin-bottom:1.1%;
					margin-top: 1.1%;
					background-color:red;
					position: relative;
				}
				a{
					position: absolute;
					color: #fff;
					font-size: 0.9em;
					padding: 5px 10px 5px 5px;
					top:65%;
				}
			}
		}

	}
	#positionFixed{
		position: fixed;
		width: 1px;
		height: 1px;
	}
	.header{
		position: absolute;
		top:0px;
		z-index:99999;
		width: 100%;
		background: url('@{imagePath}/bgheader.png') repeat-x;
			
		.nav{
			min-height: 55px;
			min-width: 623px;
			position: absolute;
			right:20px;
			top:0px;
			list-style: none;
			margin:0px;
			padding:0px;
			text-align:right;
			li{
				margin-left:20px;
				margin-top:10px;
				.left;
				font-size:0.9em;
				&:last-child{
					margin-right:30px;
					margin-top:-1px;
				}
			}
		}
		h1{
			margin:10px 0 0 50px;
			padding:0px;
			
		}
	}
	.slide{
		position: relative;
		margin: 0 0 -60px 0;
		.slideControl{
			position: absolute;
			width:5%;
			height:70px;
			top:69%;
			margin-top:;
			z-index: 9999;
			cursor:pointer;
			&#slideNext{
				right:0px;
				background: url('@{imagePath}/rightarrow.png') no-repeat;
				&:hover{
				background: url('@{imagePath}/rightarrow.png') 0px -82px  no-repeat;					
				}
			}
			&#slidePrev{
				background: url('@{imagePath}/leftarrow.png') no-repeat;
				&:hover{
				background: url('@{imagePath}/leftarrow.png') 0px -82px  no-repeat;					
				}
			}
		}
		#slide{
			list-style:none;
			width: 100%;
			margin:0px;
			padding: 0px;
			li{
				padding:0px;
				margin: 0px;
				.left;
				width: 100%;
				position:relative;	
				img{
					float: left;
					.left;
					width: 100%;
				}
				.desc{
					padding:20px 5% 30px;
					left:0px;
					position: absolute;
					bottom:10.7%;
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
					filter:~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 )"; /* IE6-8 */
					color:rgba(255,255,255,1);
					width:100%;
					text-shadow: 1px 1px 1px #000000;
				    filter:~"dropshadow(color=#000000, offx=1, offy=1)";					
				    h2{
						margin:0 0 0 50px;
						padding:0px;
						font-size:2em;
						font-weight: lighter;
						width: 50%;
						display: inline-block;
						vertical-align: top;
					}
					p{
						padding: 0px 5px;
						margin:5px 0 5px 50px;
						width: 50%;
						.left;
					}
					.vtrAction{
						width: 25%;
						.left;
						text-align: right;	
						font-size: 1.8em;
						font-weight: lighter;
						strong{
							display: block;
							margin-top:-23px;
							margin-bottom: 10px;
						}					
					}
					.movieAction{
						width: 25%;
						.left;
						color:#FFB400;
						margin: 0 0 0 80px;
					}
					.boton{
					border:none;
					width: 86%;
					background: url('@{imagePath}/botonOrange.png');
					.rounded-corners;
					color: #fff;
					font-size: 1.6em;
				    margin: 10px 0;
				    padding: 6px 27px;
				    .shadow;
					}
				}

			}
		}
		#slidepag{
			position: absolute;
			bottom:13%;
			text-align: center;
			left:43.3%;
			a{
				background:url('@{imagePath}/bullet.png') no-repeat;
				display:inline-block;
				width: 83px;
				height: 29px;
				margin: 0 0 0 -20px;
				text-indent:-999999px;
				&:active {
					outline: none;
				}
				&:focus {
					-moz-outline-style:none;
				}
				&.selected{
					background:url('@{imagePath}/bulletActive.png') no-repeat;
				}
			}

		}

	}

}
.device{
	bottom:0;
	width: 100%;
	background: url('@{imagePath}/bgdevice.png');
	h3{
		.left;
		width: 18%;
		text-align: right;
		font-weight: lighter;
		font-size: 1.5em;
		margin-left:10%;
		margin-right: 5%;
		color: #fff;

	}
	section{
		.left;
		text-align:center;
		padding-top: 10px;
		width: 50%;
		article{
			.left;
			margin:2% 3%;
			font-size: 0.8em;
			color: #fff;
		}
	}
}

/* Catalogo */
@import "catalogo";
/* Fin vista catalogo */

/* Bootstrap sprite icons */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("@{imagePath}/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("@{imagePath}/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}



/* Fin bootstrap sprite icons */

/* Autocolplete */
.ui-autocomplete{
	z-index: 99999999999999!important;
}

/* Fin autocomplete */

/* Big search */

#searchModal{
	background:transparent;
  	filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)"; 
 	zoom: 1;
  	background: rgba(0,0,0,0.8);
	position:fixed;
	width: 100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:999999999999999;
	display:none;
	.category{
		width: 22%;
		margin-left:2%;
		float:left;
		h4{
			color:rgba(255,255,255,1);
			margin:0px 0px 20px 0px;
			padding:0px;
		}
		.listItem{
			margin:0px;
			padding:0px;
			li{
				display: block;
				width: 100%;
				float:left;
				margin-bottom:10px;
			}
			a{
				text-decoration:none;
			}
			.iteminfo{
				.left;
				color:rgba(255,255,255,1);
				width: 86%;
				float: left;
				small{
					width: 100%;
					display:block;
					
				}
			}
			figure{
				width: 10%;
				.left;
				float:left;
				margin-right:1%;
				img{
					width: 100%;
				}
			}

		}

	}
	h3{
		color:rgba(255,255,255,1);
		margin-left:2%;
		font-weight:lighter;
	}
	input[type="text"]{
		background:transparent;
		border:none;
		color:#fff;
		width: 96%;
		margin:0px 2%;
		height: 110px;
		font-size:100px;
		font-weight: lighter;
		font-family:helvetica;
		border-bottom: 1px dotted #ccc;
		margin-top:100px;
	}
}	

/* Fin big search */

/* Ventana Modal */

	#modalContainer{
		position: absolute;
		z-index: 99999;
		top:0;
		background-color: rgba(0,0,0,0.9);
		width: 100%;
		height: 100%;
		-webkit-box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.6);		
        #modalLoading{
			position: absolute;
			width: 50px;
			height: 50px;
			top:5-0%;
			left: 50%;
			margin-top: -25px;
			margin-left:-25px;
			z-index: :9999999;
			-webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 1);
        	box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 1);	
        	.rounded-corners (10px 10px 10px 10px);
        	overflow:hidden;		
        img{
				width: 100%;
			}
		}

		#modalContent{
			.rounded-corners();
			padding:10px;
			width: 400px;
			height: 200px;
			position: absolute;
			background-color: rgba(255,255,255,1);
			top:-50%;
			left: 50%;
			margin-top:-100px;
			margin-left:-200px; 

			.closeModal{
				.rounded-corners(10px 10px 10px 10px);
				padding:4px 4px;
				font-size:0.5em;
				position: absolute;
				top: -10px;
				right: -10px;
				color:rgba(255,255,255,1);
				background-color: red;
				cursor: pointer;
			}

		}

	}


/* Fin ventana Modal */